body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0;
    padding: 0;
}

:root {
    --grayColor: #aaaaaa;
    --darkGrayColor: #5E5E5E;;
    --purpleColor: #6b74dd;
}

.heading {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin: auto;
}
.heading img {
    float: left;
    margin-left: 20px;
}

#prolusioHeading {
    background-size: cover;
    background-position: center left;
    background-color: var(--purpleColor);
    background-image: url(../res/abstract.jpg);
    color: #fff;
    text-align: center;
}

.search {
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: var(--purpleColor);
    color: #fff;
}
.search li {
    background: var(--purpleColor);
    margin: -3px;
    list-style: none;
    display: inline;
}
.search a:hover {
    background: #5560db;
}
.search a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

.home {

}
.home h1 {
    text-align: center;
}

.info {
    border-radius: 15px;
    text-align: left;
    border: 1px #aaaaaa solid;
    padding-left: 20px;
    margin: 20px;
    margin-top: 20px;
}

.info h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.service {
    text-align: center;
}

.service img {
    border-radius: 30px;
    border: 2px var(--purpleColor) solid;
    margin-left: 0px;
    margin-top: 0px;
    width: 300px;
    transition: all 0.3s;
}
.service img:hover{
    margin-left: 0px;
    margin-top: -10px;
    width: 320px;
}

footer {
    clear: both;
    color: #fff;
    position: relative;
    margin-top: 20px;
    margin-bottom: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--darkGrayColor);
    font-size: 20px;
    text-align: center;
}

@media(max-width: 600px) {
    /* .search {
        font-size: 13px;
    } */
    body {
        font-size: 7px;
    }
    .heading img {
        width:30px;
    }
    .service img {
        border-radius: 10px;
        width: 100px;
    }
    .service img:hover {
        border-radius: 10px;
        width: 120px;
    }
    footer {
        font-size: 10px;
    }
}