body {
    background-color: #ffffff;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

:root {
    --grayColor: #aaaaaa;
    --darkGrayColor: #5E5E5E;;
    --purpleColor: #3d4ad6;
}

.box {
    text-align: center;
    color: #ffffff;
    background-color: #5E5E5E;

    border: 2px #3d4ad6 solid;

    padding: 20px;
    margin: 20px;
    margin-top: -0px;
}

#backImage {
    width: 950px;
}

.info {
    border-radius: 15px;
    text-align: left;
    border: 1px #aaaaaa solid;
    padding-left: 20px;
    margin: 20px;
    margin-top: 20px;
}

.info h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.service {
    text-align: center;
}

.service img {
    border-radius: 30px;
    border: 2px var(--purpleColor) solid;
    margin-left: 0px;
    margin-top: 0px;
    width: 300px;
    transition: all 0.3s;
}
.service img:hover{
    margin-left: 0px;
    margin-top: -10px;
    width: 320px;
}

footer {
    clear: both;
    position: relative;
    margin-top: 20px;
    margin-bottom: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--darkGrayColor);
    font-size: 20px;
    text-align: center;
}